:host {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  padding-top: env(--safe-area-inset-top, 0px);
  box-sizing: content-box;
  min-height: 80px;
  width: 100%;
}

.header {
  width: 100%;
  height: 100%;

  .search-container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
  }

  input[type=search] {
    display: none;
    border: 1px solid var(--color-border-primary);
    border-radius: 12px;
    width: 100%;
    font-size: 16px;
    height: 50px;
    background-color: var(--color-background-primary);
    padding-inline: var(--spacing-inline-l);
  }

  @media (min-width: 768px) {
    display: grid;
    column-gap: var(--spacing-inline-l);
    grid-template-columns: 240px calc(100% - 260px);
    margin-right: var(--spacing-inline-l);

    input[type=search] {
      display: block;
    }
  }

  @media (min-width: 1300px) {
    grid-template-columns: 240px calc(100% - 580px) 300px;
    margin-right: 0;
  }
}

.profile {
  display: grid;
  grid-template-columns: 48px 1fr;
  gap: var(--spacing-inline-l);
  align-items: center;
  padding-left: calc(var(--spacing-inline-l) + env(safe-area-inset-left, 0px));
}

.logo {
  width: 42px;
  height: 42px;
  border-radius: 999px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

h2 {
  font-size: 18px;
}