<nav class="tab-bars">
  <ul class="tab-bar">
    <li class="tab-item" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>
      <a [routerLink]="['about']" aria-label="Home">
        <span class="tab-icon-action" aria-hidden="true"></span>
        <span class="tab-label">Home</span>
      </a>
    </li>
    <li class="tab-item" routerLinkActive="active">
      <a [routerLink]="['a']" aria-label="About">
        <span class="tab-icon-action" aria-hidden="true"></span>
        <span class="tab-label">About</span>
      </a>
    </li>
    <li class="tab-item">
      <a [routerLink]="['b']" aria-label="About">
        <span class="tab-icon-action" aria-hidden="true"></span>
        <span class="tab-label">Settings</span>
      </a>
    </li>
  </ul>
</nav>