<p>child works!</p>
<p><a [routerLink]="['/main', {outlets: {modal_1: ['modal-1']}}]">Modal 1 Contact</a></p>
<p>child works!</p>
<p>child works!</p>
<p>child works!</p>
<p>child works!</p>
<p>child works!</p>
<p>child works!</p>
<p>child works!</p>
<p>child works!</p>
<p>child works!</p>
<p>child works!</p>
<p>child works!</p>
<p>child works!</p>
<p>child works!</p>
<p>child works!</p>
<p>child works!</p>
<p>child works!</p>
<p>child works!</p>
<p>child works!</p>
<p>child works!</p>
<p>child works!</p>
<p>child works!</p>
<p>child works!</p>
<p>child works!</p>
<p>child works!</p>
<p>child works!</p>
<p>child works!</p>
<p>child works!</p>
<p>child works!</p>
<p>child works!</p>
<p>child works!</p>
<p>child works!</p>
<p>child works!</p>
<p>child works!</p>
<p>child works!</p>
<p>child works!</p>
<p>child works!</p>
<p>child works!</p>
<p>child works!</p>
<p>child works!</p>
<p>child works!</p>
<p>child works!</p>
<p>child works!</p>
<p>child works!</p>
<p>child works!</p>
<p>child works!</p>
<p>child works!</p>
<p>child works!</p>
<p>child works!</p>
<p>child works!</p>
<p>child works!</p>
<p>child works!</p>
<p>child works!</p>
<p>child works!</p>
<p>child works!</p>
<p>child works!</p>
<p>child works!</p>
<p>child works!</p>
<p>child works!</p>
<p>child works!</p>
<p>child works!</p>
<p>child works!</p>
