<div class="amount">
  <p class="amount-label">Łączne saldo</p>
  <p class="amount-value">34 250,00 PLN</p>
</div>

<div class="products scroll-hidden">
  <div class="product product-account" (click)="toggleFlip($event)">
    <div class="product-inner">
      <div class="product-face front">
        <div class="card-content account">
          <div class="row top">
            <span class="title">Dane rachunku</span>
          </div>
          <div class="row bottom">
            <span class="value">13 233,54 zł</span>
            <span class="label">Rachunenk główny</span>
          </div>
        </div>
      </div>
      <div class="product-face back">
        <div class="card-content account">
          <div class="row top">
            <span class="title">Dane rachunku</span>
          </div>
          <div class="row bottom">
            <span class="label">IBAN</span>
            <span class="value">PL 1234 5678 9012 3456</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="product product-card" (click)="toggleFlip($event)">
    <div class="product-inner">
      <div class="product-face front">
        <div class="card-content">
          <div class="row top">
            <span class="title">VISA</span>
            <span class="masked">••• ••• 3245</span>
          </div>
          <div class="row bottom">
            <span class="value">10 234,54 zł</span>
            <span class="label">Karta debetowa</span>
          </div>
        </div>
      </div>
      <div class="product-face back">
        <div class="card-content">
          <div class="row top">
            <span class="title">Dane karty</span>
          </div>
          <div class="row bottom two-cols">
            <div class="col">
              <span class="label">CVV</span>
              <span class="value">123</span>
            </div>
            <div class="col right">
              <span class="label">Data ważności</span>
              <span class="value">12/27</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="product product-card-black" (click)="toggleFlip($event)">
    <div class="product-inner">
      <div class="product-face front">
        <div class="card-content">
          <div class="row top">
            <span class="title">VISA</span>
            <span class="masked">••• ••• 4432</span>
          </div>
          <div class="row bottom">
            <span class="value">22 114,22 zł</span>
            <span class="label">Karta Black</span>
          </div>
        </div>
      </div>
      
      <div class="product-face back">
        <div class="card-content">
          <div class="row top">
            <span class="title">Dane karty</span>
          </div>
          <div class="row bottom two-cols">
            <div class="col">
              <span class="label">CVV</span>
              <span class="value">456</span>
            </div>
            <div class="col right">
              <span class="label">Data ważności</span>
              <span class="value">08/26</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h2>Płatności</h2>
<div class="payments">
  <div class="avatar scroll-hidden">
    <div class="avatar-item">
      <div class="avatar-circle avatar-blik"><svg width="28" height="28" viewBox="0 0 147.4 147.4"><circle cx="87.9" cy="43.8" r="12.7" fill="#FFFFFF"></circle><path d="M73.7,62.4c-4.4,0-8.8,1.1-12.7,3.2V35.2H46.8v54.2c0,14.9,12,26.9,26.9,26.9c14.9,0,26.9-12,26.9-26.9   C100.6,74.5,88.6,62.4,73.7,62.4C73.7,62.4,73.7,62.4,73.7,62.4z M73.7,102.3c-7.2,0-13-5.8-13-13c0-7.2,5.8-13,13-13   c7.2,0,13,5.8,13,13C86.7,96.5,80.9,102.3,73.7,102.3C73.7,102.3,73.7,102.3,73.7,102.3z" fill="#FFFFFF"></path></svg></div>
      <span>Blik</span>
    </div>
    <div class="avatar-item">
      <div class="avatar-circle">
        +
      </div>
      <span>Przelew</span>
    </div>
    <div class="avatar-item">
      <div class="avatar-circle">
        AD
      </div>
      <span>Ala</span>
    </div>
    <div class="avatar-item">
      <div class="avatar-circle">
        CD
      </div>
      <span>Czarek</span>
    </div>
    <div class="avatar-item">
      <div class="avatar-circle">
        <img src="assets/avatars/mama.jpg" alt="GH">
      </div>
      <span>Mama</span>
    </div>
    <div class="avatar-item">
      <div class="avatar-circle">
        <img src="assets/avatars/diana.jpg" alt="GH">
      </div>
      <span>Diana</span>
    </div>
    <div class="avatar-item">
      <div class="avatar-circle">
        <img src="assets/avatars/kasia.jpg" alt="GH">
      </div>
      <span>Kasia</span>
    </div>
    <div class="avatar-item">
      <div class="avatar-circle">
        <img src="assets/avatars/profile.jpg" alt="GH">
      </div>
      <span>Iwona</span>
    </div>
  </div>
</div>

<h2>Ostatnie transakcje</h2>
<div class="card">
  <div class="transactions">
    <button class="list-item" [routerLink]="['/main', {outlets: {modal: ['modal']}}]">
      <span class="icon">
        
      </span>
      <span class="transaction-multiline">
        <span class="transaction-info">Allegro</span>
        <span class="transaction-additional-info">Zakupy spożywcze</span>
      </span>
      <span class="transaction-multiline transaction-amount-date">
        <span class="transaction-amount transaction-income">+2 000,00 PLN</span>
        <span class="transaction-additional-info">9 lis</span>
      </span>
    </button>
    <button class="list-item" [routerLink]="['/main', {outlets: {modal: ['modal']}}]">
      <span class="icon">
        
      </span>
      <span class="transaction-multiline">
        <span class="transaction-info">Bankomat Euronet</span>
        <span class="transaction-additional-info">Wypłata</span>
      </span>
      <span class="transaction-multiline transaction-amount-date">
        <span class="transaction-amount transaction-income">+2 000,00 PLN</span>
        <span class="transaction-additional-info">9 lis</span>
      </span>
    </button>
    <button class="list-item" [routerLink]="['/main', {outlets: {modal: ['modal']}}]">
      <span class="icon">
        
      </span>
      <span class="transaction-multiline">
        <span class="transaction-info">Allegro</span>
        <span class="transaction-additional-info">Zakupy spożywcze</span>
      </span>
      <span class="transaction-multiline transaction-amount-date">
        <span class="transaction-amount transaction-income">-900,00 PLN</span>
        <span class="transaction-additional-info">9 lis</span>
      </span>
    </button>
  </div>
</div>

<h2>Usługi</h2>
<div class="card">
  <div class="services">
    <button class="list-item" [routerLink]="['/main', {outlets: {modal: ['modal']}}]">
      <span class="icon">
        
      </span>
      <span class="list-title">Przelew</span>
      <span class="icon-action"></span>
    </button>
    <button class="list-item" [routerLink]="['/main', {outlets: {modal: ['modal']}}]">
      <span class="icon">
        
      </span>
      <span class="list-title">Doładowanie</span>
      <span class="icon-action"></span>
    </button>
    <button class="list-item" [routerLink]="['/main', {outlets: {modal: ['modal']}}]">
      <span class="icon">

      </span>
      <span class="list-title">Płatności</span>
      <span class="icon-action"></span>
    </button>
    <button class="list-item" [routerLink]="['/main', {outlets: {modal: ['modal']}}]">
      <span class="icon">

      </span>
      <span class="list-title">Historia</span>
      <span class="icon-action"></span>
    </button>
    <button class="list-item" [routerLink]="['/main', {outlets: {modal: ['modal']}}]">
      <span class="icon">

      </span>
      <span class="list-title">Ustawienia</span>
      <span class="icon-action"></span>
    </button>
  </div>
</div>
