/* Ukryj widoczność scrolla przy overflow: auto */
.scroll-hidden {
  overflow: auto;
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}

.scroll-hidden::-webkit-scrollbar {
  width: 0;
  height: 0;
}

h2 {
  padding-left: calc(var(--spacing-inline-l) + env(safe-area-inset-left, 0px));
  padding-right: calc(var(--spacing-inline-l) + env(safe-area-inset-right, 0px));
  margin-block: 0;
  font-size: 16px;
}

.amount {
  padding-left: calc(var(--spacing-inline-l) + env(safe-area-inset-left, 0px));
  padding-right: calc(var(--spacing-inline-l) + env(safe-area-inset-right, 0px));

  p {
    margin: 0;
  }

  .amount-label {
    font-size: 14px;
    color: #666;
  }

  .amount-value {
    font-size: 32px;
    font-weight: bold;
  }
}

.products {
  display: flex;
  column-gap: var(--spacing-inline-l);
  padding-block: var(--spacing-inset-l);
  padding-left: calc(var(--spacing-inline-l) + env(safe-area-inset-left, 0px));
  padding-right: calc(var(--spacing-inline-l) + env(safe-area-inset-right, 0px));
  overflow: auto;
}

.product {
  border-radius: 12px;
  height: 150px;
  min-width: 250px;
  background-color: #666;

  &.product-account {
    background-image: linear-gradient(120.256deg, rgb(0, 168, 107), rgb(34, 139, 34), rgb(0, 100, 0));
  }

  &.product-card {
    background-image: linear-gradient(120.256deg, rgb(123, 97, 255), rgb(91, 66, 230), rgb(63, 45, 196));
  }

  &.product-card-black {
    background-image: linear-gradient(120.256deg, rgb(74, 74, 74), rgb(45, 45, 45), rgb(26, 26, 26));
  }
}

.avatar {
  display: flex;
  gap: 12px;
  overflow: auto;
  padding-block: var(--spacing-inset-l);
  padding-left: calc(var(--spacing-inline-l) + env(safe-area-inset-left, 0px));
  padding-right: calc(var(--spacing-inline-l) + env(safe-area-inset-right, 0px));

  .avatar-item {
    text-align: center;

    span {
      font-size: 12px;
    }
  }

  .avatar-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 48px;
    max-width: 48px;
    height: 48px;
    border-radius: 50%;
    background: rgb(30, 30, 30);
    border: 1px solid rgb(51, 51, 51);
    overflow: hidden;
    font-weight: bold;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .avatar-blik {
    border: 1px solid #000;
    background-color: #000;
  }
}

.icon {
  width: 38px;
  height: 38px;
  border-radius: 12px;
  background: var(--color-background-secondary);
}

.card {
  background: rgb(30, 30, 30);
  border-radius: 12px;
  border: 1px solid rgb(51, 51, 51);
  margin-block: 20px;
  margin-left: calc(var(--spacing-inline-l) + env(safe-area-inset-left, 0px));
  margin-right: calc(var(--spacing-inline-l) + env(safe-area-inset-right, 0px));
}

.list-item {
  cursor: pointer;
  display: grid;
  align-items: center;
  grid-template-columns: 48px 1fr auto;
  column-gap: 4px;
  margin-inline: 20px;
  padding: 0;
  height: 60px;
  border: none;
  background-color: transparent;
  width: calc(100% - 40px);
  text-align: left;
  border-bottom: 1px solid rgb(51, 51, 51);

  &:last-child {
    border-bottom: none;
  }
}

.list-title {
  font-size: 14px;
  font-weight: bold;
  color: var(--color-text-primary);
}

.transaction-multiline {
  display: grid;
  row-gap: 4px;
}

.transaction-amount-date {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.transaction-info {
  font-size: 14px;
  font-weight: bold;
  color: var(--color-text-primary);
}

.transaction-amount {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  font-size: 14px;
  font-weight: bold;
  color: var(--color-text-primary);
}

.transaction-income {
  color: rgb(28, 152, 28);
}

.transaction-additional-info {
  font-size: 14px;
  color: var(--color-text-secondary);
}