<app-bank-header />

<main>
   <nav>
      <app-bank-sidebar />
      <app-bank-tab-bars />
   </nav>
   <div class="content">
      <router-outlet />
      <app-bank-footer />
   </div>
   <aside>
      <app-bank-tab-views>
         <button [routerLink]="['/main', {outlets: {aside: ['tab1']}}]" routerLinkActive="active">Tab 1</button>
         <button [routerLink]="['/main', {outlets: {aside: ['tab2']}}]" routerLinkActive="active">Tab 2</button>
      </app-bank-tab-views>

      <router-outlet name="aside"></router-outlet>
   </aside>
</main>

<router-outlet name="modal_0"></router-outlet>
<router-outlet name="modal"></router-outlet>
<router-outlet name="modal_1"></router-outlet>
