:host {
  display: block;

  @media (min-width: 2000px) {
    max-width: 2000px;
    margin: 0 auto;
  }
}

app-bank-header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

main {
  @media (min-width: 768px) {
    display: grid;
    column-gap: var(--spacing-inline-l);
    grid-template-columns: 340px calc(100% - 360px);
  }

  @media (min-width: 1600px) {
    display: grid;
    column-gap: var(--spacing-inline-l);
    grid-template-columns: 340px 1fr 400px;
  }

  .content {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
  }

  aside {
    display: none;
    background-color: var(--color-background-secondary);
    border-radius: 12px;
    margin-right: 20px;

    @media (min-width: 1600px) {
      display: block;
    }
  }
}

app-bank-sidebar {
  display: none;

  @media (min-width: 768px) {
    display: block;
    position: fixed;
    top: 80px;
    width: 340px;
  }
}

app-bank-tab-bars {
  @media (min-width: 768px) {
    display: none;
  }
}