:host {
  display: flex;
  justify-content: center;

  .tab-views {
    float: left;
    padding: 2px;
    background-color: #e8e8e8;
    border-radius: 8px;
  }

  &::ng-deep {
    button {
      padding: 4px 10px;
      border: 0;
      border-radius: 6px;
      background: none;

      &.selected {
        background: var(--color-background-primary);
      }
    }
  }
}