:host {
  display: flex;
  justify-content: center;

  .tab-views {
    float: left;
    padding: 2px;
    background: var(--color-background-tertiary);
    border-radius: 8px;
  }

  &::ng-deep {
    button {
      padding: 4px 10px;
      border: 0;
      border-radius: 6px;
      background: none;

      &.active {
        color: var(--color-text-primary);
        background: var(--color-background-primary);
      }
    }
  }
}